<a href="https://colab.research.google.com/github/ashutoshghodke/ashutoshghodke/blob/main/PYSPARK_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## INSTALLING PYSPARK
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=9e70502e78c2cbb4aa88a167c0d42dad7fa6a6a47bf7a432679d0322855fc744
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python RDD to DF").getOrCreate()


lst=[1,2,3,4,5,6,7,8]
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
sc=spark.sparkContext

In [ ]:
type(sc)

pyspark.context.SparkContext

In [ ]:
rdd=sc.parallelize(lst) ## creating rdd

In [ ]:
type(rdd)

pyspark.rdd.RDD

In [ ]:
rdd #transformation can not be return unless action command is executed.

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:287

In [ ]:
rdd.collect() #calling action

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
rdd=sc.textFile('/content/pyspark.txt') ## uploading file

In [ ]:
rdd.collect()

Py4JJavaError: ignored

In [ ]:
### WORD COUNT PROBLEM

rdd1=rdd.flatMap(lambda x:x.split(" ")) ## flatMap is used to iterate .1 inpute ==> multiple op
rdd2=rdd1.map(lambda x:(x,1)) ## map is used to map the input and assigning value 1 ===> ip==> po
rdd3=rdd2.reduceByKey(lambda x,y:x+y) ##REDUCEBY KEY IS USED TO GIVE TOTAL NO OF COUNT ===> multiple in ==> single op

In [ ]:
rdd.collect()
rdd1.collect()
# rdd2.collect()
# rdd3.collect()

Py4JJavaError: ignored

In [ ]:
rdd4=rdd3.sortByKey() ## for sorting

In [ ]:
rdd4.collect()

[('', 2),
 ('and', 2),
 ('aunty', 1),
 ('baby', 4),
 ('bie', 3),
 ('calling', 3),
 ('come', 1),
 ('hello', 2),
 ('hi', 1),
 ('i', 2),
 ('laugh', 1),
 ('love', 2),
 ('make', 1),
 ('me', 1),
 ('on', 1),
 ('police', 2),
 ('say', 1),
 ('u', 2),
 ('will', 2)]

In [ ]:
## for decsinding
rdd5=rdd4.sortByKey(False)

In [ ]:
rdd5.collect()

[('will', 2),
 ('u', 2),
 ('say', 1),
 ('police', 2),
 ('on', 1),
 ('me', 1),
 ('make', 1),
 ('love', 2),
 ('laugh', 1),
 ('i', 2),
 ('hi', 1),
 ('hello', 2),
 ('come', 1),
 ('calling', 3),
 ('bie', 3),
 ('baby', 4),
 ('aunty', 1),
 ('and', 2),
 ('', 2)]

In [ ]:
rdd6=rdd3.sortBy(lambda x:x[1]) ## sortby is used to sort by key[0] or value[1]
rdd6.collect()

[('make', 1),
 ('laugh', 1),
 ('say', 1),
 ('aunty', 1),
 ('hi', 1),
 ('come', 1),
 ('on', 1),
 ('me', 1),
 ('', 2),
 ('i', 2),
 ('love', 2),
 ('hello', 2),
 ('u', 2),
 ('and', 2),
 ('will', 2),
 ('police', 2),
 ('bie', 3),
 ('calling', 3),
 ('baby', 4)]

In [ ]:
r=rdd3.first()
r

('', 2)

In [ ]:
r[0]
r[1]

2

In [ ]:
rdd3.take(5)  ## fetching first 5 records

[('', 2), ('i', 2), ('love', 2), ('make', 1), ('laugh', 1)]

In [ ]:
d=rdd3.keys()  #GIVES ONLY KEYS

In [ ]:
d.collect()

['',
 'i',
 'love',
 'make',
 'laugh',
 'say',
 'aunty',
 'hello',
 'hi',
 'bie',
 'baby',
 'u',
 'come',
 'on',
 'and',
 'me',
 'will',
 'police',
 'calling']

In [ ]:
d=rdd3.values()  # GIVES ONLY VALUES
d.collect()

[2, 2, 2, 1, 1, 1, 1, 2, 1, 3, 4, 2, 1, 1, 2, 1, 2, 2, 3]

In [ ]:
rdd3.filter(lambda x:x[1]>2).collect() ## filtering conditions

[('bie', 3), ('baby', 4), ('calling', 3)]

In [ ]:
## even no filter
rdd3.filter(lambda x:x[1]%2==0).collect()

[('', 2),
 ('i', 2),
 ('love', 2),
 ('hello', 2),
 ('baby', 4),
 ('u', 2),
 ('and', 2),
 ('will', 2),
 ('police', 2)]

In [ ]:
## filtering on keys
rdd3.filter(lambda x:x[0].startswith("p")).collect()

[('police', 2)]

In [ ]:
rdd3.filter(lambda x:x[0].upper()).collect()

[('i', 2),
 ('love', 2),
 ('make', 1),
 ('laugh', 1),
 ('say', 1),
 ('aunty', 1),
 ('hello', 2),
 ('hi', 1),
 ('bie', 3),
 ('baby', 4),
 ('u', 2),
 ('come', 1),
 ('on', 1),
 ('and', 2),
 ('me', 1),
 ('will', 2),
 ('police', 2),
 ('calling', 3)]

In [ ]:
rdd3.filter(lambda x: "e" in x[0]).collect()

[('love', 2),
 ('make', 1),
 ('hello', 2),
 ('bie', 3),
 ('come', 1),
 ('me', 1),
 ('police', 2)]

In [ ]:
## creating dataframes
lst=[(1,"india"),(2,"us"),(3,"uk"),(4,"germany")]
rdd=sc.parallelize(lst)

In [ ]:
rdd.collect()

In [ ]:
rdd.count()

4

In [ ]:
df=rdd.toDF() ## rdd to dataframe

In [ ]:
df.collect()

[Row(_1=1, _2='india'),
 Row(_1=2, _2='us'),
 Row(_1=3, _2='uk'),
 Row(_1=4, _2='germany')]

In [ ]:
df.show()

+---+-------+
| _1|     _2|
+---+-------+
|  1|  india|
|  2|     us|
|  3|     uk|
|  4|germany|
+---+-------+

In [ ]:
myschema=["id","country"]
df2=rdd.toDF(myschema)

In [ ]:
df2.show()

+---+-------+
| id|country|
+---+-------+
|  1|  india|
|  2|     us|
|  3|     uk|
|  4|germany|
+---+-------+

In [ ]:
## read csv in dataframe
df=spark.read.csv('/content/bank-full.csv')

In [ ]:
df.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+----+
|_c0|         _c1|     _c2|      _c3|    _c4|    _c5|    _c6| _c7|    _c8|_c9| _c10|    _c11|    _c12| _c13|    _c14|    _c15|_c16|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+----+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|   y|
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown|  no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown|  no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown|  no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown|  no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown|  no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown|  no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown|  no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown|  no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown|  no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown|  no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown|  no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown|  no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown|  no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown|  no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown|  no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown|  no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown|  no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown|  no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown|  no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+----+
only showing top 20 rows

In [ ]:
df1=spark.read.csv('/content/bank-full.csv',header="True") ## ignoring headers as in above file

In [ ]:
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
df1.dtypes

[('age', 'int'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('default', 'string'),
 ('balance', 'int'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('contact', 'string'),
 ('day', 'int'),
 ('month', 'string'),
 ('duration', 'int'),
 ('campaign', 'int'),
 ('pdays', 'int'),
 ('previous', 'int'),
 ('poutcome', 'string'),
 ('y', 'string')]

In [ ]:
# inferschema is used when to automate the datatype by own spark
df1=spark.read.csv('/content/bank-full.csv',header="True",inferSchema="True")

In [ ]:
df1.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
## saving dataframe into file
#df.write.format("csv").save("#--mension path")

In [ ]:
## selecting perticular column
df2=df1.select("job","education","loan")

In [ ]:
df2.show()

+------------+---------+----+
|         job|education|loan|
+------------+---------+----+
|  management| tertiary|  no|
|  technician|secondary|  no|
|entrepreneur|secondary| yes|
| blue-collar|  unknown|  no|
|     unknown|  unknown|  no|
|  management| tertiary|  no|
|  management| tertiary| yes|
|entrepreneur| tertiary|  no|
|     retired|  primary|  no|
|  technician|secondary|  no|
|      admin.|secondary|  no|
|      admin.|secondary|  no|
|  technician|secondary|  no|
|  technician|  unknown|  no|
|    services|secondary|  no|
|     retired|  primary|  no|
|      admin.|  unknown|  no|
| blue-collar|  primary|  no|
|     retired|  primary|  no|
|    services|secondary|  no|
+------------+---------+----+
only showing top 20 rows

In [ ]:
###Remove Duplicates In DataFrame
dff=df1.drop_duplicates(["education"])

In [ ]:
dff.show()

+---+-----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|        job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|    retired|married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 44| technician| single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 58| management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 47|blue-collar|married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
+---+-----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+

In [ ]:
### combining two differnt dataframes
df11=df1.union(dff)

In [ ]:
df11.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
### filling null values if there with somthing like 0 or something
df12=df11.na.fill(0)

In [ ]:
df12.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *

In [ ]:
### Aggregations on DataFrame
df15=df12.select(min("balance"))
df15=df12.select(max("balance"))
df15=df12.select(sum("balance"))
df15=df12.select(avg("balance"))

In [ ]:
df15.show()

+------------------+
|      avg(balance)|
+------------------+
|1362.2355634192193|
+------------------+

In [ ]:
#6.	Write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday, 2 for Monday and so on.

def get_day_name(day_number):
    days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
    if day_number >=1  :
      return days[day_number-1]

day_number = int(input("Enter a number from 1 to 7: "))

get_day_name(day_number)

Enter a number from 1 to 7: 1

'Sunday'

In [ ]:
#7.	Write a program to find the lowest number out of two numbers excepted from user.

num1=int(input())
num2=int(input())
if num1>num2:
  print( num2)
else:
  print(num1)

20
10
10

In [ ]:
##9.	Write a program to whether a number (accepted from user) is divisible by 2 and 3 both.
num1=int(input())
if  num1%2==0 and num1%3==0:
  print('yes')
else:
  print('no')

12
yes

In [ ]:
import math
no=int(input())
print(math.sqrt(no))

25
5.0

In [ ]:
import math

no = int(input("Enter a number: "))
result = math.pow(no, 2)
print("The square of", no, "is", result)

Enter a number: 5
The square of 5 is 25.0

In [ ]:
l=[10,20,30,50,55,22]
# lower=l[0]
# upper=l[-1]
for i in range (len(l)):
  l.remove(i)
l

ValueError: ignored

In [ ]:
s='ashutosh'
G=str(s[::-1])
print(G.rstrip(''))

hsotuhsa

In [ ]:
d='    fgh    '
d.lstrip(' ')

'fgh    '